.DS_store
*.env
*.log
static/img_tmp/*
!static/img_tmp/.gitkeep
static/img_cur/*
!static/img_cur/.gitkeep
__pycache__/
.vscode/
*.pem
*.key
*.crt
certs/
*.tar
*.tar.gz
*.zip
*.pkl
*.xlsx
dp/*
dp/d.xlsx

