<form id="my-form" class="form" hx-patch="/submit" hx-trigger="change" hx-target="this" hx-swap="outerHTML">
    {% if selected_categories %}
        {% include 'kategoria.html' %}
    {% if selected_levels %}
        {% include 'aste.html' %}
    {% if selected_days %}
        {% include 'paiva.html' %}
        {% include 'location.html' %}
    {% else %}
        {% include 'paiva-empty.html' %}
    {% endif %}

    {% else %}
        {% include 'aste-empty.html' %}
    {% endif %}

    {% else %}
        {% include 'kategoria-empty.html' %}
    {% endif %}
</form>

<div id="count" hx-swap-oob="true">
    <h4>Hakuehtoihin vastaavia työpajoja: {{ rowItemCount }}</h4>
</div>

<div id="valikoima" class="korttipakka" hx-swap-oob="true">
    {% for i in rowItems %}
        {% include 'kortti.html' %}
    {% else %}
        {% include 'kortti-empty.html' %}
    {% endfor %}
    {% include 'kortti-junior.html' %}
</div>
