<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8" />
    <meta name="language" content="fi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preload" href="{{ static_url('BwGradual-Regular.woff2') }}" as="font" crossorigin fetchpriority="high">
    <link rel="preload" href="{{ static_url('BG.webp') }}" as="image" fetchpriority="high">
    <link rel="stylesheet" href="{{ static_url('style.css') }}">
    
    <meta name="theme-color" content="#ff70c1">

    <title>Aalto-yliopisto Junior Valinta-apuri</title>

    <meta name="description" content="Aalto-yliopisto Juniorin valinta-apuri auttaa sinua löytämään sopivia ja kiinnostavia työpajoja monipuolisesta työpajavalikoimastamme!" />

    <link rel="icon" type="image/png" href="/static/assets/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/assets/favicon.svg" />
    <link rel="shortcut icon" href="/static/assets/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Aalto-yliopisto Junior Valinta-apuri" />
    <link rel="manifest" href="/static/assets/site.webmanifest" />



    <meta property="og:url" content="https://juniorapuri.aalto.fi/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Aalto-yliopisto Junior Valinta-apuri">
    <meta property="og:description" content="Aalto-yliopisto Juniorin valinta-apuri auttaa sinua löytämään sopivia ja kiinnostavia työpajoja monipuolisesta työpajavalikoimastamme!">
    <meta property="og:image" content="https://juniorapuri.aalto.fi/static/assets/card.png">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" /> 
    <meta property="og:logo" content="https://juniorapuri.aalto.fi/static/assets/web-app-manifest-512x512.png" />

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="juniorapuri.aalto.fi">
    <meta property="twitter:url" content="https://juniorapuri.aalto.fi/">
    <meta name="twitter:title" content="Aalto-yliopisto Junior Valinta-apuri">
    <meta name="twitter:description" content="Aalto-yliopisto Juniorin valinta-apuri auttaa sinua löytämään sopivia ja kiinnostavia työpajoja monipuolisesta työpajavalikoimastamme!">
    <meta name="twitter:image" content="https://juniorapuri.aalto.fi/static/assets/card.png">
    <meta name="twitter:image:width" content="1200" />
    <meta name="twitter:image:height" content="630" />

    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
    <header>
        <p>Valinta-apuri auttaa sinua löytämään sopivia ja kiinnostavia työpajoja monipuolisesta työpajavalikoimastamme!
        Valitse sopivat hakuedot ja löydä sopivat työpajat! Kelaa sivua alaspäin selataksesi pajoja! <br> Jos muutat hakuehtojasi, klikkaa vihreää painiketta päivittääksesi muutokset.</p>
    </header>
<div class="main">

   
    <div>



        <form id="my-form" class="form" hx-post="/submit" hx-target="this" hx-swap="innerHTML">

                {% include 'kategoria.html' %}

            <div class="submit-container">
                <button type="submit" id="submit">➔</button>
            </div>
        </form>


        <div id="valikoima" class="korttipakka">
            {% for i in rowItems %}
                {% include 'kortti.html' %}
            {% else %}
                {% include 'kortti-empty.html' %}
            {% endfor %}
        </div>



    </div>
</div>
    {% include 'footer.html' %}
</body>
</html>