@font-face {
    font-family: 'BwGradual-Black';
    src: url('{{ static_url("BwGradual-Regular.woff2") }}');
    font-display: swap;
}


.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.options {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 220px;
    min-height: 350px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.korttipakka {
    width: 100vw;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.kortti {
    width: 380px;
    min-height: 684.5px;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    background-color: #FBBDB0;
    max-width: 80vw;
}

.kortti h2 {
    height: 58px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.kortti.kortti-empty {
    min-height: 350px;
}

.kortti-img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 133px;
    margin-bottom: 10px;
    margin-top: 10px;
}

body {
    background-color: #e4e4e4;
    font-family: 'BwGradual-Black';
    position: relative;
    margin: 0;
    min-height: 100vh;
    /* background-image: url('BG.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: center;
    background-position-x: center;
    background-size: 90%; */

    display: flex;
    flex-direction: column;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('{{ static_url("BG.webp") }}');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: center;
    background-position-x: center;
    background-size: 90%;
    opacity: 30%;
    z-index: -1;
}


.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.row * {
    margin-top: 3px;
    margin-bottom: 3px;
}

.päivä {
    background: #f9f9f9;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.taso {
    background: #f9f9f9;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.loc {
    background: #84754E;
    color: white;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.loc.etänä {
    background: #5E00C6;
    color: white;
}

.loc.omalla.koululla {
    background: #ED1459;
    color: white;
}


.kategoria {
    background: #f9f9f9;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.row-otsikko {
    margin-right: 5px;
}

input[type="checkbox"] {
    /* Remove default OS styles */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    
    /* Custom box */
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 4px; /* Change to 50% for round look */
    position: relative;
    vertical-align: middle;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #555;
    border-radius: 50%; /* The "dot" */
    transform: translate(-50%, -50%);
}
input[type="checkbox"]:checked::after {
    background: #23E970;
}
input[type="checkbox"]:checked {
    background: #555;
}

.row-element {
    width: 180px;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap; */
}

label {
    cursor: pointer;
    display: inline-block;
    vertical-align: text-top;
    width: 149px;
}

.row-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
}

#submit {
    background-color: #23E970;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.submit-container {
    width: 220px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main {
    flex: 1;
}

header {
    padding-left: 40px;
    padding-right: 40px;
    background-color: #FBBDB0;
    text-align: center;
    margin-bottom: 40px;
}


footer {
    background-color: gray;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding: 20px;
    font-size: 10pt;
    text-align: center;
}

footer p {
    margin: 5px;
}

.datatime {
    color: #656565;
    font-size: 0.9em;
}

a {
    color: #5E00C6;
    text-decoration: none;
}

p {
    line-height: 19px;
}

#error-main {
    display: flex;
    justify-content: center;
    align-items: center;
}


#error-card {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    max-width: 600px;
    text-align: center;
    padding: 40px;
    border-radius: 40px;
    margin: 40px;
}

@media (max-width: 525px) {
    .form {
        flex-direction: column;
        justify-content: flex-start;
    }

    .submit-container {
        height: auto;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 1045px) {
    .form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .submit-container {
        height: auto;
        justify-content: center;
        align-items: center;
    }
}

@media (hover: none) {
    body::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url('{{ static_url("BG.webp") }}');
        background-repeat: space;
        background-attachment: scroll;
        background-position-y: top;
        background-position-x:  center;
        background-size: 300%;
        opacity: 30%;
        z-index: -1;
    }
}
